/target
/derby.log
/testHome
.svn
.svn/*
fastcatsearch.iml
.idea
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
core/fastcatsearch-core.iml
package/fastcatsearch-package.iml
