<configuration scan="true" scanPeriod="10 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date %level] \(%file:%line\) %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="systemlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/system.log</file>

		<encoder>
			<pattern>[%date %level] \(%file:%line\) %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}/system.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
	</appender>

	<appender name="searchlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/search.log</file>

		<encoder>
			<pattern>[%date] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}/search.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
	</appender>
	
	<appender name="requestlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/request.log</file>

		<encoder>
			<pattern>[%date] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}/request.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
	</appender>

	<appender name="indexinglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/indexing.log</file>

		<encoder>
			<pattern>[%date] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}/indexing.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
	</appender>

	<appender name="searcherrorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/search_error.log</file>

		<encoder>
			<pattern>[%date] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}/search_error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
	</appender>

    <appender name="segmentlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/segment.log</file>

        <encoder>
            <pattern>[%date] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/segment.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
    </appender>

	<logger name="SEARCH_LOG" level="INFO" additivity="false">
		<appender-ref ref="searchlog" />
	</logger>
	
	<logger name="REQUEST_LOG" level="INFO" additivity="false">
		<appender-ref ref="requestlog" />
	</logger>

	<logger name="SEARCH_ERROR_LOG" level="INFO" additivity="false">
		<appender-ref ref="searcherrorlog" />
	</logger>

	<logger name="INDEXING_LOG" level="INFO" additivity="false">
		<appender-ref ref="systemlog" />
		<appender-ref ref="indexinglog" />
	</logger>

    <logger name="SEGMENT_LOG" level="INFO" additivity="false">
        <appender-ref ref="segmentlog" />
    </logger>

	<logger name="org.mortbay" level="INFO" additivity="false">
		<appender-ref ref="systemlog" />
	</logger>
	<logger name="org.apache.jasper" level="INFO" additivity="false">
		<appender-ref ref="systemlog" />
	</logger>
	
	<logger name="org.apache.ibatis" level="INFO" additivity="false" />
	<logger name="org.fastcatsearch.db.mapper" level="INFO" additivity="false" />
	
	<root level="debug">
		<!-- appender-ref ref="STDOUT" /-->
		<appender-ref ref="systemlog" />
	</root>

</configuration>
