<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- default field : id, keyword -->
<mapper namespace="org.fastcatsearch.db.mapper.ExceptionHistoryMapper">

    <update id="createTable">
		create table ExceptionHistory (
		id int GENERATED ALWAYS AS IDENTITY,
		node varchar(100),
		message varchar(3000),
		trace varchar(30000),
		regtime timestamp,
		primary key (id)
		)
	</update>

    <update id="createIndex" >
		create index node_ExceptionHistory_index on ExceptionHistory(node)
	</update>

	<select id="validateTable" parameterType="map" resultType="map">
		select id, node, message, trace, regtime
		from ExceptionHistory
		fetch first 1 rows only
	</select>

	<update id="dropTable" parameterType="map">
		drop table ExceptionHistory
	</update>

	<select id="getEntry" parameterType="int" resultType="org.fastcatsearch.db.vo.ExceptionVO">
		select *
		from ExceptionHistory where id = #{id}
	</select>

	<select id="getEntryList" parameterType="map" resultType="org.fastcatsearch.db.vo.ExceptionVO">

		<if test="start &gt;= 0 and end &gt;= 0">
			select tmp2.*
			from (
				select row_number() over() as rownum, tmp.*
				from (
					select * from ExceptionHistory
					order by id desc
			    ) as tmp
			) tmp2
			where rownum &gt;= #{start} and rownum &lt;= #{end}
		</if>
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select count(*)
		from ExceptionHistory
	</select>

	<insert id="putEntry" parameterType="org.fastcatsearch.db.vo.ExceptionVO" useGeneratedKeys="true">
		insert into ExceptionHistory ( 
		node, message, trace, regtime
		)
		values (
		#{node}, #{message}, #{trace}, #{regtime}
		)
	</insert>

</mapper>