<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- default field : id, keyword -->
<mapper namespace="org.fastcatsearch.db.mapper.GroupAccountMapper">

	<update id="createTable">
		create table GroupAccount (
		id int GENERATED ALWAYS AS IDENTITY,
		groupName varchar(200),
		primary key (id)
		)
	</update>
	
	<update id="createIndex">
		create index groupId_GroupAccount_index on GroupAccount(id)
	</update>
	
	<select id="validateTable" parameterType="map" resultType="map">
		select id, groupName
		from GroupAccount
		fetch first 1 rows only
	</select>

	<update id="dropTable" parameterType="map">
		drop table GroupAccount 
	</update>

	<select id="getEntry" parameterType="int" resultType="org.fastcatsearch.db.vo.GroupAccountVO">
		select *
		from GroupAccount where id = #{id}
	</select>

	<select id="getEntryList" parameterType="map" resultType="org.fastcatsearch.db.vo.GroupAccountVO">
		select * from GroupAccount
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select count(*)
		from GroupAccount
	</select>
	
	<select id="getMaxId" resultType="int">
		select max(id) from (
		select count(1)*0 as id from GroupAccount union
		select max(id) as id from GroupAccount ) a
	</select>

	<insert id="putEntry" parameterType="org.fastcatsearch.db.vo.GroupAccountVO" useGeneratedKeys="true" keyProperty="id">
		insert into GroupAccount ( 
			groupName
		)
		values (
		 #{groupName}
		)
	</insert>
	
	<update id="updateEntry" parameterType="org.fastcatsearch.db.vo.GroupAccountVO" >
		update GroupAccount
			set groupName = #{groupName}
		where id=#{id}
	</update>
	
	<update id="deleteEntry" parameterType="int">
		delete from GroupAccount where id = #{groupId}
	</update>
</mapper>