<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- default field : id, keyword -->
<mapper namespace="org.fastcatsearch.db.mapper.GroupAuthorityMapper">

	<update id="createTable">
		create table GroupAuthority (
		groupId int ,
		authorityCode varchar(60),
		authorityLevel varchar(10),
		primary key (groupId, authorityCode)
		)
	</update>
	
	<update id="createIndex" >
		create index groupId_GroupAuthority_index on GroupAuthority(groupId)
	</update>
	
	<select id="validateTable" parameterType="map" resultType="map">
		select groupId, authorityCode, authorityLevel 
		from GroupAuthority
		fetch first 1 rows only
	</select>

	<update id="dropTable" parameterType="map">
		drop table GroupAuthority
	</update>

	<select id="getEntry" parameterType="map" resultType="org.fastcatsearch.db.vo.GroupAuthorityVO">
		select *
		from GroupAuthority where groupId = #{groupId} and authorityCode = #{authorityCode}
	</select>

	<select id="getEntryList" parameterType="int" resultType="org.fastcatsearch.db.vo.GroupAuthorityVO">
		select * from GroupAuthority 
		where groupId = #{groupId}
	</select>
	
	<select id="getAllEntryList" parameterType="int" resultType="org.fastcatsearch.db.vo.GroupAuthorityVO">
		select * from GroupAuthority 
		order by groupId, authorityCode, authorityLevel
	</select>
	
	<select id="getEntryListByAuthorityCode" parameterType="String" resultType="org.fastcatsearch.db.vo.GroupAuthorityVO">
		select * from GroupAuthority
		where authorityCode = #{authorityCode}
	</select>

	<select id="getCount" parameterType="String" resultType="int">
		select count(*)
		from GroupAuthority where groupId = #{groupId}
	</select>
	
	<select id="getCountByAuthorityCode" parameterType="String" resultType="int">
		select count(*)
		from GroupAuthority where groupId = #{authorityCode}
	</select>

	<insert id="putEntry" parameterType="org.fastcatsearch.db.vo.GroupAuthorityVO">
		insert into GroupAuthority ( 
		groupId, authorityCode, authorityLevel
		)
		values (
		#{groupId}, #{authorityCode}, #{authorityLevel}
		)
	</insert>
	
	<update id="updateEntry" parameterType="org.fastcatsearch.db.vo.GroupAuthorityVO">
		update GroupAuthority 
			set authorityLevel = #{authorityLevel}
			where groupId = #{groupId} and
			authorityCode = #{authorityCode}
	</update>
	
	<update id="deleteEntry" parameterType="int">
		delete from GroupAuthority where groupId = #{groupId}
	</update>
</mapper>