<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<collection-config>
	<index-node>node1</index-node>
	<shard-list>
		<shard id="news_kor" />
	</shard-list>
	<data-plan>
		<data-sequence-cycle>2</data-sequence-cycle>
		<segment-document-limit>15</segment-document-limit>
		<segment-revision-backup-size>2</segment-revision-backup-size>
	</data-plan>
	<index>
		<term-interval>64</term-interval>
		<work-bucket-size>256</work-bucket-size>
		<work-memory-size>134217728</work-memory-size>
		<pk-bucket-size>65536</pk-bucket-size>
		<pk-term-interval>64</pk-term-interval>
	</index>
	<name>뉴스</name>
</collection-config>
