<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
default field : id, keyword
 -->
<mapper namespace="org.fastcatsearch.db.mapper.DictionaryMapper">

	<insert id="creatTable" parameterType="map" >
		create table ${table} (
			id bigint not null generated always as identity,
			keyword varchar(${size}) not null unique,
			<if test="fieldList != null">
				<foreach item="fieldName" index="index" collection="fieldList">
				${fieldName} varchar(${size}),
				</foreach>
			</if>
			primary key (id)
		)
	</insert>
	
	<select id="validateTable" parameterType="map" resultType="map">
		select id, keyword 
		<if test="fieldList != null">
			<foreach item="fieldName" index="index" collection="fieldList">
			, ${fieldName}
			</foreach>
		</if>
		from ${table} 
		fetch first 1 rows only
	</select>

	<update id="dropTable" parameterType="map">
		drop table ${table}
	</update>

	<select id="selectEntry" parameterType="int" resultType="map">
		select *
		from ${table} where id = #{id}
	</select>

	<select id="selectEntryList" parameterType="map" resultType="map">
		select *
		from (
		select row_number() over() as rownum, ${table}.* from ${table}
		<if test="search != null">where keyword like #{search}</if>
		) as tmp where rownum &gt; #{start} and rownum &lt;= #{end}
	</select>
	
	<select id="selectCount" parameterType="map" resultType="int">
		select count(*)
		from ${table}
		<if test="search != null">where keyword like #{search}
			<foreach item="field" index="index" collection="fieldList">
			or #{"field"} like #{search}
			</foreach>
		</if>
	</select>
	
	<insert id="insertEntry" parameterType="map" useGeneratedKeys="true" >
		insert into ${table} (
			<if test="keyword != null">keyword</if>
			<if test="keyValueList != null">
				<if test="keyword != null">,</if>
				<foreach item="keyValue" index="index" collection="keyValueList" separator=","> 
				${keyValue.key}
				</foreach>
			</if>
		) values (
			<if test="keyword != null">#{keyword}</if>
			<if test="keyValueList != null">
				<if test="keyword != null">,</if>
				<foreach item="keyValue" index="index" collection="keyValueList" separator=","> 
				#{keyValue.value}
				</foreach>
			</if>
		)
	</insert>
	
	<update id="updateEntry" parameterType="map">
		update ${table} 
		<if test="keyword != null">set keyword = #{keyword}</if>
		<if test="keyValueList != null">
			<if test="keyword == null">set</if>
			<if test="keyword != null">,</if>
			<foreach item="keyValue" index="index" collection="keyValueList" separator=","> 
			${keyValue.key} = #{keyValue.value}
			</foreach>
		</if>
		where id = #{id}
	</update>
	
	<delete id="deleteEntry" parameterType="map">
		delete from ${table} 
		where id = #{id}
	</delete>
</mapper>