<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- default field : id, keyword -->
<mapper namespace="org.fastcatsearch.db.mapper.IndexingResultMapper">
	<insert id="creatTable" parameterType="map">
		create table
		IndexingResult (
		id int GENERATED ALWAYS AS IDENTITY
		collectionId varchar(20),
		type char(4),
		status varchar(10),
		docSize int,
		insertSize int,
		updateSize int,
		deleteSize int,
		isScheduled smallint,
		startTime timestamp,
		endTime timestamp,
		duration int,
		primary key (id)
		)
	</insert>

	<select id="validateTable" parameterType="map" resultType="map">
		select id, collectionId
		from IndexingResult
		fetch first 1 rows only
	</select>

	<update id="dropTable" parameterType="map">
		drop table IndexingResult
	</update>

	<select id="getEntry" parameterType="int" resultType="map">
		select *
		from IndexingResult where id = #{id}
	</select>

	<select id="getEntryList" parameterType="map" resultType="map">

		<if test="start >= 0 and end >= 0">
			select *
			from (
			select row_number() over() as rownum,
			IndexingResult.* from
			IndexingResult
			where collectionId = #{collectionId}
			) as tmp where rownum &gt;
			#{start} and rownum &lt;= #{end}
		</if>
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select
		count(*)
		from IndexingResult
		where collectionId = #{collectionId}
	</select>

	<insert id="putEntry" parameterType="map" useGeneratedKeys="true">
		insert into IndexingResult (
		collectionId, type, status, docSize, insertSize, updateSize, deleteSize,
		isScheduled,
		startTime, endTime, duration)
		values (
		#{collectionId}, #{type}, #{status}, #{docSize}, #{insertSize}
		,
		#{updateSize}, #{deleteSize}, #{isScheduled}, #{startTime},
		#{endTime}, #{duration}
		)
	</insert>

</mapper>