<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>FastcatSearch</display-name>
  <description>
     Welcome to FastcatSearch
  </description>

	<servlet>
		<servlet-name>CatServer</servlet-name>
		<servlet-class>org.fastcatsearch.servlet.CatServerServlet</servlet-class>
		<init-param>
			<param-name>FastcatSearch_manage_root</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>FastcatSearch_search_root</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>SearchServletJSON</servlet-name>
		<servlet-class>org.fastcatsearch.servlet.SearchServletForCom</servlet-class>
		<init-param>
			<param-name>result_format</param-name>
			<param-value>json</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>SearchServletXML</servlet-name>
		<servlet-class>org.fastcatsearch.servlet.SearchServletForCom</servlet-class>
		<init-param>
			<param-name>result_format</param-name>
			<param-value>xml</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>	
	<servlet-mapping>
        <servlet-name>SearchServletJSON</servlet-name>
        <url-pattern>/search/json</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>SearchServletXML</servlet-name>
        <url-pattern>/search/xml</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>RecommendKeyword</servlet-name>
		<servlet-class>org.fastcatsearch.servlet.RecommendKeywordServlet</servlet-class>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
        <servlet-name>RecommendKeyword</servlet-name>
        <url-pattern>/keyword/recommend</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>PopularKeyword</servlet-name>
		<servlet-class>org.fastcatsearch.servlet.PopularKeywordServlet</servlet-class>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
        <servlet-name>PopularKeyword</servlet-name>
        <url-pattern>/keyword/popular</url-pattern>
    </servlet-mapping>
    
	<servlet>
	    <servlet-name>DocumentList</servlet-name>
	    <servlet-class>org.FastcatSearchsearch.servlet.DocumentListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DocumentList</servlet-name>
	    <url-pattern>/doclist/json</url-pattern>
	</servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
